@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: #6C2BD9;
  --secondary-color: ;
  --white: #fff;
  --gray: #555;
  --light-gray: #eeeeee;
  --bg-dark: #202020fb;
  --red: #e81b1b;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: var(--secondary-font);
}

h3,
p,
span,
a {
  font-family: var(--primary-font);
}

.custom-input {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 1rem 1.2rem;
  border: var(--primary-color) 0.3rem solid;
  border-radius: 1.2rem;

  background-color: var(--white);

  input {
    border: none;
    outline: none;
    font-size: 1.6rem;
    flex: 1;
    margin-left: 0.8rem;
  }
}