footer {
    display: none;
}

.login {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 55rem;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .text-wrapper {
        h1 {
            font-size: 4.8rem;
            color: var(--primary-color);
            line-height: 4.2rem;
            margin-bottom: 4rem;
        }

        p {
            font-size: 1.8rem;
            color: var(--gray);
            margin-bottom: 1rem;
        }
    }

    aside {
        width: 100%;
        padding: 20% 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            button {
                width: 100%;
                padding: 1.2rem;
                border: none;
                border-radius: 1rem;
                background-color: var(--primary-color);
                color: var(--white);
                font-size: 1.6rem;
                cursor: pointer;
                transition: opacity .3s;

                &:hover {
                    opacity: .8;
                }

            }

            p {
                font-size: 1.6rem;
                color: var(--gray);
                text-align: center;

                a {
                    color: var(--primary-color);
                    text-decoration: none;
                    font-weight: 600;
                    margin-left: .3rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (width <= 768px) {
    .login {
        grid-template-columns: 1fr;

        img {
            display: none;
        }

        aside {
            padding: 10% 2rem;
        }
    }
}