.orders-container {
    >h1 {
        font-size: 3.2rem;
        margin-bottom: 1rem;
    }

    >.cards {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 15rem);
        gap: 1rem;

        >.card {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border-radius: 1rem;
            height: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;

            padding: 1rem;

            >h3 {
                font-size: 2.8rem;
                color: var(--primary-color);
            }

            >p {
                font-size: 1.2rem;
            }
        }
    }
}