.products-container {
    >h1 {
        font-size: 3.2rem;
        margin-bottom: 1rem;
    }

    >.cards {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        >.card {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border-radius: 1rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;

            padding: 1rem 2rem; 

            >h3 {
                font-size: 2.8rem;
                color: var(--primary-color);
            }

            >p {
                font-size: 1.2rem;
            }
        }
    }

    .add-product-button {
        display: flex;
        align-items: center;
        gap: 1rem;

        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.8rem 1.2rem;

        font-size: 1.4rem;
        background-color: var(--primary-color);
        color: white;
        
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid var(--light-gray);
        font-family: var(--primary-font);

        thead {
            background-color: var(--primary-color);
            color: white;
        }

        th, td {
            padding: 1rem;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: var(--secondary-color);
            font-size: 1.4rem;
        }
    }
}